{
  "openapi": "3.0.0",
  "info":
    {
      "title": "API Documentation",
      "description": "API documentation for the actions, auth, categories, comments, requests, and users endpoints.",
      "version": "1.0.0",
    },
  "servers": [{ "url": "https://kks8ph-8000.csb.app" }],
  "paths":
    {
      "/actions":
        {
          "get":
            {
              "summary": "Get all actions",
              "operationId": "getAllActions",
              "responses": { "200": { "description": "Successful operation" } },
            },
        },
      "/actions/{id}":
        {
          "get":
            {
              "summary": "Get action by ID",
              "operationId": "getActionById",
              "parameters":
                [
                  {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "responses": { "200": { "description": "Successful operation" } },
            },
        },
      "/auth/login":
        {
          "post":
            {
              "summary": "Login",
              "operationId": "login",
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "type": "object",
                              "properties":
                                {
                                  "username": { "type": "username1" },
                                  "password": { "type": "password1" },
                                },
                            },
                        },
                    },
                },
              "responses": { "200": { "description": "Successful operation" } },
            },
        },
      "/auth/logout":
        {
          "post":
            {
              "summary": "Logout",
              "operationId": "logout",
              "responses": { "200": { "description": "Successful operation" } },
            },
        },
      "/categories":
        {
          "get":
            {
              "summary": "Get all categories",
              "operationId": "getAllCategories",
              "responses": { "200": { "description": "Successful operation" } },
            },
          "post":
            {
              "summary": "Create category",
              "operationId": "createCategory",
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "type": "object",
                              "properties":
                                { "description": { "type": "string" } },
                            },
                        },
                    },
                },
              "responses": { "200": { "description": "Successful operation" } },
            },
        },
      "/categories/{id}":
        {
          "get":
            {
              "summary": "Get category by ID",
              "operationId": "getCategoryById",
              "parameters":
                [
                  {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "responses": { "200": { "description": "Successful operation" } },
            },
          "patch":
            {
              "summary": "Edit category",
              "operationId": "editCategory",
              "parameters":
                [
                  {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "type": "object",
                              "properties":
                                { "description": { "type": "string" } },
                            },
                        },
                    },
                },
              "responses": { "200": { "description": "Successful operation" } },
            },
          "delete":
            {
              "summary": "Delete category",
              "operationId": "deleteCategory",
              "parameters":
                [
                  {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "responses": { "200": { "description": "Successful operation" } },
            },
        },
      "/comments":
        {
          "get":
            {
              "summary": "Get comments by request ID",
              "operationId": "getCommentsByRequestId",
              "parameters":
                [
                  {
                    "name": "requestId",
                    "in": "query",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "responses": { "200": { "description": "Successful operation" } },
            },
          "post":
            {
              "summary": "Create comment",
              "operationId": "createComment",
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "type": "object",
                              "properties":
                                {
                                  "requestId": { "type": "string" },
                                  "comment": { "type": "string" },
                                },
                            },
                        },
                    },
                },
              "responses": { "200": { "description": "Successful operation" } },
            },
        },
      "/comments/{id}":
        {
          "patch":
            {
              "summary": "Edit comment",
              "operationId": "editComment",
              "parameters":
                [
                  {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "type": "object",
                              "properties": { "comment": { "type": "string" } },
                            },
                        },
                    },
                },
              "responses": { "200": { "description": "Successful operation" } },
            },
          "delete":
            {
              "summary": "Delete comment",
              "operationId": "deleteComment",
              "parameters":
                [
                  {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "responses": { "200": { "description": "Successful operation" } },
            },
        },
      "/requests":
        {
          "get":
            {
              "summary": "Get all requests",
              "operationId": "getAllRequests",
              "responses": { "200": { "description": "Successful operation" } },
            },
          "post":
            {
              "summary": "Create request",
              "operationId": "createRequest",
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "type": "object",
                              "properties":
                                {
                                  "title": { "type": "string" },
                                  "content": { "type": "string" },
                                  "priority": { "type": "integer" },
                                  "categoryId": { "type": "string" },
                                },
                            },
                        },
                    },
                },
              "responses": { "200": { "description": "Successful operation" } },
            },
        },
      "/requests/{id}":
        {
          "get":
            {
              "summary": "Get request by ID",
              "operationId": "getRequestById",
              "parameters":
                [
                  {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "responses": { "200": { "description": "Successful operation" } },
            },
          "patch":
            {
              "summary": "Edit request",
              "operationId": "editRequest",
              "parameters":
                [
                  {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "type": "object",
                              "properties":
                                {
                                  "title": { "type": "string" },
                                  "content": { "type": "string" },
                                  "categoryId": { "type": "string" },
                                },
                            },
                        },
                    },
                },
              "responses": { "200": { "description": "Successful operation" } },
            },
          "delete":
            {
              "summary": "Delete request",
              "operationId": "deleteRequest",
              "parameters":
                [
                  {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "responses": { "200": { "description": "Successful operation" } },
            },
        },
      "/requests/viewHistory/{id}":
        {
          "get":
            {
              "summary": "View request history",
              "operationId": "viewHistory",
              "parameters":
                [
                  {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "responses": { "200": { "description": "Successful operation" } },
            },
        },
      "/requests/forward/{id}":
        {
          "post":
            {
              "summary": "Forward request",
              "operationId": "forwardRequest",
              "parameters":
                [
                  {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "type": "object",
                              "properties":
                                {
                                  "peopleId": { "type": "string" },
                                  "actionId": { "type": "string" },
                                },
                            },
                        },
                    },
                },
              "responses": { "200": { "description": "Successful operation" } },
            },
        },
      "/requests/approve/{id}":
        {
          "post":
            {
              "summary": "Approve request",
              "operationId": "approveRequest",
              "parameters":
                [
                  {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "responses": { "200": { "description": "Successful operation" } },
            },
        },
      "/requests/disapprove/{id}":
        {
          "post":
            {
              "summary": "Disapprove request",
              "operationId": "disapproveRequest",
              "parameters":
                [
                  {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "responses": { "200": { "description": "Successful operation" } },
            },
        },
      "/users":
        {
          "get":
            {
              "summary": "Get users",
              "operationId": "getUsers",
              "responses": { "200": { "description": "Successful operation" } },
            },
          "post":
            {
              "summary": "Register",
              "operationId": "register",
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "type": "object",
                              "properties":
                                {
                                  "username": { "type": "string" },
                                  "fullname": { "type": "string" },
                                  "password": { "type": "string" },
                                  "roleId": { "type": "string" },
                                },
                            },
                        },
                    },
                },
              "responses": { "200": { "description": "Successful operation" } },
            },
        },
    },
}
